body.st {
	
	background-image: url("../images/star-space-tile.jpg");
	
	background-repeat: repeat-y repeat-x;
	background-color: black;
	font-family: arial;
}
td {
	vertical-align: top;
	text-align: center;
	/*padding: 6px;*/
	font-size: 9pt;
	font-family: arial;
}

.orders {
	background-image: url("../images/orders.jpg");
	background-repeat: no-repeat;
	width: 565px;
	min-height: 500px;
	border: 6px solid #9999ff; 
	background-color: black; 
	color: white;
	padding: 40px 10px 10px 140px; 
	display: none;	
}

.dilemmas {
	background-image: url("../images/orders.jpg");
	background-repeat: no-repeat;
	width: 565px;
	min-height: 500px;
	border: 6px solid #9999ff; 
	background-color: black; 
	color: white;
	padding: 40px 10px 10px 140px; 
	display: none;	
}

td.list {
	text-align: right;
	color: #9999ff;
	font-weight: bold;
	width: 50%;
}
th.list {
	text-align: center;
}

button {
	font-size: 9pt;
}
/* completed mission */
.padTop {
	padding-top: 86px;
}

/* stopped card */
.red {
	border: 1px solid red;
}

.full {
	width: 357px;
	height: 497px;
}
.thumb {
	/* med */
	/*
	width: 180px; 
	height: 250px;				
	*/
	/* small */
	
	width: 120px;
	height: 168px;	
	
	/* tiny */
	/*
	width: 30px;
	height: 42px;	
	*/
	text-align: top;
}
/* rotate 180 */
td.oppenent, td.thumb {
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); 
}
/* rotate another 180 */
.oppenent .full {
	width: 357px;
	height: 497px;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.mission {
	background-image: url("../images/red_trans.png");
	background-repeat: repeat-y repeat-x;
}
.personnel {
	background-image: url("../images/blue_trans.png");
	background-repeat: repeat-y repeat-x;
}		
.summary {
	background-color: #400000;
	color: #ffffff;
}
.turn {
	background-color: #3828bf;
	color: #ffffff;
}
.hand {
	/*
	background-image: url("green_trans.png");
	background-repeat: repeat-y repeat-x;
	*/
}	